interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/us/const/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/
  response:
    body:
      string: '{"heading":"United States Constitution","content":"","children":["https://authorityspoke.com/api/v1/us/const/amendment/","https://authorityspoke.com/api/v1/us/const/article/"],"end_date":null,"node":"/us/const","start_date":"1788-09-13","url":"https://authorityspoke.com/api/v1/us/const/","parent":"https://authorityspoke.com/api/v1/us/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
