__pycache__/
AuthoritySpoke.egg-info
.coverage
.env
.pylintrc
.pytest_cache
.vscode
.mypy_cache/
codes/ca_evidence.html
codes/ca_penal.html
codes/usc17.xml
html/
input/unused
opinions/flf/
opinions/unused
notebooks/
prof/
tests/__pycache__/
tests/.pytest_cache/
tests/prof/
xml/
*.ipynb
