__pycache__/
AuthoritySpoke.egg-info
.coverage
.env
.ipynb_checkpoints/
.pylintrc
.pytest_cache
.vscode
.mypy_cache/
docs/_build/
html/
htmlcov/
example_data/holdings/unused
example_data/opinions/flf/
example_data/opinions/unused
notebooks/.ipynb_checkpoints
notebooks/unused
notebooks/request_cases.ipynb
Pipfile.lock
prof/
tests/__pycache__/
tests/.pytest_cache/
tests/prof/
xml/
