__pycache__/
AuthoritySpoke.egg-info
.coverage
.pylintrc
.pytest_cache
.vscode
.mypy_cache/
codes/ca_evidence.html
codes/ca_penal.html
html/
json/flf/
notebooks/
prof/
tests/__pycache__/
xml/
*.ipynb
