[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
beautifulsoup4 = ">=4.7.1"
ipykernel = "*"
lxml = "*"
pint = ">=0.9"
requests = "*"
authorityspoke = {path = ".",editable = true}

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-profiling = "*"
rope = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.7"
