[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
anchorpoint = ">=0.1.1"
apispec = {extras = ["validation"],version = "*"}
authorityspoke = {path = ".",editable = true}
beautifulsoup4 = ">=4.8.1"
lxml = ">=4.4.2"
marshmallow = ">=3.2.2"
pint = ">=0.9"
python-dotenv = "*"
requests = "*"
roman = "*"

[dev-packages]
black = "*"
coveralls = "*"
doc8 = "*"
flake8-comprehensions = "*"
ipykernel = "*"
jupyterlab = "*"
mypy = "*"
pipenv-to-requirements = "*"
pydocstyle = "*"
pylint = "*"
pytest = ">=5.3.2"
pytest-cov = "*"
pytest-profiling = "*"
pytest-vcr = "*"
rope = "*"
setuptools = "*"
sphinx = ">=2.1.2"
sphinx-autodoc-typehints = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.7"
