[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.7.1"
ipykernel = "*"
lxml = "*"
pint = "*"

[dev-packages]
pytest = "==4.0.2"
pylint = "*"
mypy = "*"
rope = "*"
black = "*"

[requires]
python_version = "3.7.1"
