anchorpoint>=0.4.4
apispec[validation]~=4.3.0
marshmallow>=3.10
legislice>=0.4.1
pint>=0.15
python-dotenv
python-slugify
git+git://github.com/mscarey/nettlesome.git@f8126d6fbc7f745a38aebd2e62a4310835521c08#egg=nettlesome
requests
roman
sympy
