apispec[validation]~=4.3.0
apispec-oneofschema
legislice>=0.5.0
marshmallow>=3.10
marshmallow-oneofschema
nettlesome>=0.5.0
pint>=0.15
python-slugify
requests
sphinx>=2.1.2
sphinx-autodoc-typehints
sphinx-rtd-theme
