black
coveralls
doc8
flake8-comprehensions
ipykernel
jupyterlab
mypy
pipenv-to-requirements
pydocstyle
pylint
pytest-cov
pytest-profiling
pytest-vcr
pytest>=6.0.0
rope
setuptools
sphinx-autodoc-typehints
sphinx>=2.1.2
twine
wheel
