black
coveralls
doc8
flake8-comprehensions
ipykernel
justopinion~=0.2.2
mypy
pydocstyle
pytest-cov
pytest-profiling
pytest-recording
pytest>=6.0.0
rope
setuptools
sphinx-autodoc-typehints
sphinx>=2.1.2
twine
wheel
