interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/article/I/8/8/
  response:
    body:
      string: '{"heading":"Patents and copyrights.","start_date":"1788-09-13","node":"/us/const/article/I/8/8","text_version":{"id":735650,"url":"https://authorityspoke.com/api/v1/textversions/735650/","content":"To
        promote the Progress of Science and useful Arts, by securing for limited Times
        to Authors and Inventors the exclusive Right to their respective Writings
        and Discoveries;"},"url":"https://authorityspoke.com/api/v1/us/const/article/I/8/8/","end_date":null,"children":[],"citations":[],"parent":"https://authorityspoke.com/api/v1/us/const/article/I/8/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
