interactions:
- request:
    body: reporter=F.3d&volume=49&page=807
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/citation-lookup/
  response:
    body:
      string: "[{\"citation\":\"49 F.3d 807\",\"normalized_citations\":[\"49 F.3d
        807\"],\"start_index\":0,\"end_index\":11,\"status\":200,\"error_message\":\"\",\"clusters\":[{\"resource_uri\":\"https://www.courtlistener.com/api/rest/v4/clusters/691310/\",\"id\":691310,\"absolute_url\":\"/opinion/691310/lotus-development-corporation-v-borland-international-inc/\",\"panel\":[],\"non_participating_judges\":[],\"docket_id\":2034691,\"docket\":\"https://www.courtlistener.com/api/rest/v4/dockets/2034691/\",\"sub_opinions\":[\"https://www.courtlistener.com/api/rest/v4/opinions/691310/\",\"https://www.courtlistener.com/api/rest/v4/opinions/9487893/\",\"https://www.courtlistener.com/api/rest/v4/opinions/9487894/\"],\"citations\":[{\"volume\":49,\"reporter\":\"F.3d\",\"page\":\"807\",\"type\":1},{\"volume\":34,\"reporter\":\"U.S.P.Q.
        2d (BNA)\",\"page\":\"1014\",\"type\":4},{\"volume\":1995,\"reporter\":\"U.S.
        App. LEXIS\",\"page\":\"4618\",\"type\":6},{\"volume\":1995,\"reporter\":\"WL\",\"page\":\"94669\",\"type\":7}],\"date_created\":\"2015-11-03T12:48:12.601703-08:00\",\"date_modified\":\"2024-11-04T19:03:08.867144-08:00\",\"judges\":\"Torruella,
        Boudin, Stahl\",\"date_filed\":\"1995-03-09\",\"date_filed_is_approximate\":false,\"slug\":\"lotus-development-corporation-v-borland-international-inc\",\"case_name_short\":\"\",\"case_name\":\"Lotus
        Development Corporation v. Borland International, Inc.\",\"case_name_full\":\"LOTUS
        DEVELOPMENT CORPORATION, Plaintiff, Appellee, v. BORLAND INTERNATIONAL, INC.,
        Defendant, Appellant\",\"scdb_id\":\"\",\"scdb_decision_direction\":null,\"scdb_votes_majority\":null,\"scdb_votes_minority\":null,\"source\":\"RU\",\"procedural_history\":\"\",\"attorneys\":\"Gary
        L. Rebaek, with whom Peter N. Det-kin, Michael Barclay, Isabella E. Fu, Wilson
        Sonsini Goodrich & Rosati, P.C., Palo Alto, CA, Peter E. Gelhaar, Katherine
        L. Parks, and Donnelly Conroy & Gelhaar, Boston, MA, were on brief for appellant.,
        Matthew P. Poppel, Boston, MA, et ah, were on brief for Computer Scientists,
        ami-cus curiae., Dennis S. Karjala, Tempe, AZ, and Peter S. Menell, Berkeley,
        CA, on brief, amici curiae., Jeffrey C. Cannon and B[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/opinions/691310/
  response:
    body:
      string: '{"resource_uri":"https://www.courtlistener.com/api/rest/v4/opinions/691310/","id":691310,"absolute_url":"/opinion/691310/lotus-development-corporation-v-borland-international-inc/","cluster_id":691310,"cluster":"https://www.courtlistener.com/api/rest/v4/clusters/691310/","author_id":null,"author":null,"joined_by":[],"date_created":"2012-04-16T21:46:56-07:00","date_modified":"2022-03-07T21:30:53.145326-08:00","author_str":"","per_curiam":false,"joined_by_str":"","type":"010combined","sha1":"de7f0f0eb0e6295ee56d6c68abceadb98217a421","page_count":null,"download_url":"http://bulk.resource.org/courts.gov/c/F3/49/49.F3d.807.93-2214.html","local_path":null,"plain_text":"","html":"<p
        class=\"case_cite\">49 F.3d 807</p>\n    <p class=\"case_cite\">63 USLW 2565,
        1995 Copr.L.Dec. P 27,367,<br>34 U.S.P.Q.2d 1014</p>\n    <p class=\"parties\">LOTUS
        DEVELOPMENT CORPORATION, Plaintiff, Appellee,<br>v.<br>BORLAND INTERNATIONAL,
        INC., Defendant, Appellant.</p>\n    <p class=\"docket\">No. 93-2214.</p>\n    <p
        class=\"court\">United States Court of Appeals,<br>First Circuit.</p>\n    <p
        class=\"date\">Heard Oct. 6, 1994.<br>Decided March 9, 1995.</p>\n    <div
        class=\"prelims\">\n      <p class=\"indent\">Gary L. Reback, with whom Peter
        N. Det[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/opinions/9487893/
  response:
    body:
      string: "{\"resource_uri\":\"https://www.courtlistener.com/api/rest/v4/opinions/9487893/\",\"id\":9487893,\"absolute_url\":\"/opinion/691310/lotus-development-corporation-v-borland-international-inc/\",\"cluster_id\":691310,\"cluster\":\"https://www.courtlistener.com/api/rest/v4/clusters/691310/\",\"author_id\":null,\"author\":null,\"joined_by\":[],\"date_created\":\"2023-08-05T05:29:24.049295-07:00\",\"date_modified\":\"2024-09-05T10:20:13.136588-07:00\",\"author_str\":\"Stahl\",\"per_curiam\":false,\"joined_by_str\":\"\",\"type\":\"020lead\",\"sha1\":\"\",\"page_count\":null,\"download_url\":null,\"local_path\":null,\"plain_text\":\"\",\"html\":\"\",\"html_lawbox\":\"\",\"html_columbia\":\"\",\"html_anon_2020\":\"\",\"xml_harvard\":\"<opinion
        type=\\\"majority\\\">\\n<author id=\\\"b867-11\\\">STAHL, Circuit Judge.</author>\\n<p
        id=\\\"b867-12\\\">This appeal requires us to decide whether a computer menu
        command hierarchy is copyrightable subject matter. In particular...an unprotectable method
        of operation. <em>Id.</em></p>\\n</footnote>\\n</opinion>\",\"html_with_citations\":\"\",\"extracted_by_ocr\":false,\"ordering_key\":1,\"opinions_cited\":[]}"
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    status:
      code: 200
      message: OK
[...]
