interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=621+F.3d+205
  response:
    body:
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":3784332,\"url\":\"https://api.case.law/v1/cases/3784332/\",\"name\":\"UNITED
        STATES of America, Appellee, v. Mauricio Alfonso MAZZA-ALALUF, Defendant-Appellant\",\"name_abbreviation\":\"United
        States v. Mazza-Alaluf\",\"decision_date\":\"2010-09-22\",\"docket_number\":\"Docket
        No. 09-3940-cr\",\"first_page\":\"205\",\"last_page\":\"215\",\"citations\":[{\"type\":\"official\",\"cite\":\"621
        F.3d 205\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044132257692/\",\"volume_number\":\"621\",\"barcode\":\"32044132257692\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/933/\",\"full_name\":\"Federal
        Reporter 3d Series\",\"id\":933},\"court\":{\"url\":\"https://api.case.law/v1/courts/2d-cir-2/\",\"name_abbreviation\":\"2d
        Cir.\",\"slug\":\"2d-cir-2\",\"id\":8778,\"name\":\"United States Court of
        Appeals for the Second Circuit\"},\"jurisdiction\":{\"id\":39,\"name_long\":\"United
        States\",\"url\":\"https://api.case.law/v1/jurisdictions/us/\",\"slug\":\"us\",\"whitelisted\":false,\"name\":\"U.S.\"},\"cites_to\":[{\"cite\":\"18
        U.S.C. \xA7 1960\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"weight\":15,\"pin_cites\":[{\"page\":\"(b)(1)(A)\"},{\"page\":\"(b)(1)(A)\"},{\"page\":\"(b)(1)(A)\"},{\"page\":\"(b)(1)(B)\"},{\"page\":\"(a)\"},{\"page\":\"(a)\"},{\"page\":\"(b)(1)\"},{\"page\":\"(b)(1)(B)\"},{\"page\":\"(b)(2)\",\"parenthetical\":\"defining
        \\\"money transmitting\\\" to mean \\\"transferring funds on behalf of the
        public by any and all means including but not limited to transfers within
        this country or to locations abroad by wire, check, draft, facsimile, or courier\\\"\"},{\"page\":\"(b)(1)(A)\"},{\"page\":\"(b)(2)\",\"parenthetical\":\"defining
        \\\"money transmitting\\\" as \\\"transferring funds on behalf of the public
        by any and all means\\\"\"},{\"page\":\"(b)(1)(A)\"},{\"page\":\"(b)(1)(A)\"}],\"opinion_id\":0},{\"cite\":\"616
        F.3d 174\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[3768074],\"pin_cites\":[{\"page\":\"183\"}],\"opinion_id\":0},{\"cite\":\"531
        F.3d 163\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[5870614],\"pin_cites\":[{\"page\":\"170-71\"}],\"opinion_id\":0},{\"cite\":\"502
        F.3d 204\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[5523220],\"pin_cites\":[{\"page\":\"210\"}],\"opinion_id\":0},{\"cite\":\"551
        U.S. 338\",\"category\":\"reporters:federal\",\"reporter\":\"U.S.\",\"case_ids\":[3573000],\"weight\":3,\"year\":2007,\"pin_cites\":[{\"page\":\"356\",\"parenthetical\":\"\\\"Sometimes
        a judicial opinion responds to every argument; sometimes it does not.... The
        law leaves much, in this respect, to the judge's own professional judgment.\\\"\"},{\"parenthetical\":\"\\\"Sometimes
        a judicial opinion responds to every argument; sometimes it does not.... The
        law leaves much, in this respect, to the judge's own professional judgment.\\\"\"},{\"parenthetical\":\"\\\"Sometimes
      [...]
