interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/3675682/
  response:
    body:
      string: "{\"id\":3675682,\"url\":\"https://api.case.law/v1/cases/3675682/\",\"name\":\"KIMBROUGH
        v. UNITED STATES\",\"name_abbreviation\":\"Kimbrough v. United States\",\"decision_date\":\"2007-12-10\",\"docket_number\":\"No.
        06-6330\",\"first_page\":\"85\",\"last_page\":\"116\",\"citations\":[{\"type\":\"official\",\"cite\":\"552
        U.S. 85\"},{\"type\":\"parallel\",\"cite\":\"169 L. Ed. 2d 481\"},{\"type\":\"parallel\",\"cite\":\"128
        S. Ct. 558\"},{\"type\":\"vendor\",\"cite\":\"2007 U.S. LEXIS 13082\"},{\"type\":\"vendor\",\"cite\":\"SCDB
        2007-007\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044107974768/\",\"volume_number\":\"552\",\"barcode\":\"32044107974768\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/983/\",\"full_name\":\"United
        States Reports\",\"id\":983},\"court\":{\"url\":\"https://api.case.law/v1/courts/us/\",\"name_abbreviation\":\"U.S.\",\"slug\":\"us\",\"id\":9009,\"name\":\"Supreme
        Court of the United States\"},\"jurisdiction\":{\"id\":39,\"name_long\":\"United
        States\",\"url\":\"https://api.case.law/v1/jurisdictions/us/\",\"slug\":\"us\",\"whitelisted\":false,\"name\":\"U.S.\"},\"cites_to\":[{\"cite\":\"18
        U. S. C. \xA7 3742\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"pin_cites\":[{\"page\":\"(e)\"}],\"opinion_id\":0},{\"cite\":\"18
        U. S. C. \xA7 3551\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"pin_cites\":[{\"page\":\"et
        seq.\"}],\"opinion_id\":0},{\"cite\":\"98 Stat. 1987\",\"category\":\"laws:leg_session\",\"reporter\":\"Stat.\",\"opinion_id\":0},{\"cite\":\"433
        F. 3d 53\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[881177],\"year\":2006,\"pin_cites\":[{\"page\":\"62-63\",\"parenthetical\":\"same\"}],\"opinion_id\":0},{\"cite\":\"450
        F. 3d 270\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[3088142],\"year\":2006,\"pin_cites\":[{\"page\":\"275-276\",\"parenthetical\":\"same\"}],\"opinion_id\":0},{\"cite\":\"456
        F. 3d 1353\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[3352320],\"year\":2006,\"pin_cites\":[{\"page\":\"1369\",\"parenthetical\":\"same\"}],\"opinion_id\":0},{\"cite\":\"460
        F. 3d 337\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[3674823],\"year\":2006,\"pin_cites\":[{\"page\":\"361\",\"parenthetical\":\"same\"}],\"opinion_id\":0},{\"cite\":\"474
        F. 3d 515\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[5712168],\"year\":2007,\"pin_cites\":[{\"page\":\"522\",\"parenthetical\":\"same\"}],\"opinion_id\":0},{\"cite\":\"18
        U. S. C. \xA7 924\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"pin_cites\":[{\"page\":\"(c)(l)(A)(i)\"}],\"opinion_id\":0},{\"cite\":\"502
        F. 3d 1154\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[5526369],\"weight\":2,\"year\":2007,\"pin_cites\":[{\"page\":\"1171\",\"parenthetical\":\"McConnell,
        J., concurring\"},{\"page\":\"1171\",\"parenthetical\":\"McConnell, J., concurring\"}],\"opinion_id\":0},{\"cite\":\"461
        U. S. 574\",\"category\":\"reporters:federal\",\"reporter\":\"U.S.\",\"case_ids\":[11299017],\"year\":1983,\"pin_cites\":[{\"page\":\"600\"}],\"opinion_id\":0},{\"cite\":\"500
        U. S. 453\",\"category\":\"reporters:federal\",\"reporter\":\"U.S.\",\"case_ids\":[6226195],\"year[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=18+U.+S.+C.+%C2%A7+3742
  response:
    body:
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Disposition:
      - attachment; filename="CAP_2024-05-19 05:35:48.068182.json"
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 19 May 2024 05:35:48 GMT
    status:
      code: 200
      message: OK
version: 1
