interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/?cite=49+F.3d+807
  response:
    body:
      string: "{\"count\":1,\"next\":null,\"previous\":null,\"results\":[{\"id\":7416609,\"url\":\"https://api.case.law/v1/cases/7416609/\",\"name\":\"LOTUS
        DEVELOPMENT CORPORATION, Plaintiff, Appellee, v. BORLAND INTERNATIONAL, INC.,
        Defendant, Appellant\",\"name_abbreviation\":\"Lotus Development Corp. v.
        Borland International, Inc.\",\"decision_date\":\"1995-03-09\",\"docket_number\":\"No.
        93-2214\",\"first_page\":\"807\",\"last_page\":\"822\",\"citations\":[{\"type\":\"official\",\"cite\":\"49
        F.3d 807\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044110573003/\",\"volume_number\":\"49\",\"barcode\":\"32044110573003\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/933/\",\"full_name\":\"Federal
        Reporter 3d Series\",\"id\":933},\"court\":{\"url\":\"https://api.case.law/v1/courts/1st-cir/\",\"name_abbreviation\":\"1st
        Cir.\",\"slug\":\"1st-cir\",\"id\":8809,\"name\":\"United States Court of
        Appeals for the First Circuit\"},\"jurisdiction\":{\"id\":39,\"name_long\":\"United
        States\",\"url\":\"https://api.case.law/v1/jurisdictions/us/\",\"slug\":\"us\",\"whitelisted\":false,\"name\":\"U.S.\"},\"cites_to\":[{\"cite\":\"121
        L.Ed.2d 141\",\"category\":\"reporters:federal\",\"reporter\":\"L. Ed. 2d\",\"weight\":2,\"year\":1992,\"opinion_id\":0},{\"cite\":\"113
        S.Ct. 198\",\"category\":\"reporters:federal\",\"reporter\":\"S. Ct.\",\"year\":1992,\"opinion_id\":0},{\"cite\":\"960
        F.2d 1465\",\"category\":\"reporters:federal\",\"reporter\":\"F.2d\",\"case_ids\":[10525985],\"pin_cites\":[{\"page\":\"1477\"}],\"opinion_id\":0},{\"cite\":\"379
        F.2d 675\",\"category\":\"reporters:federal\",\"reporter\":\"F.2d\",\"case_ids\":[2069440],\"weight\":2,\"pin_cites\":[{\"page\":\"678-79\"},{\"page\":\"678-79\"}],\"opinion_id\":0},{\"cite\":\"17
        U.S.C. \xA7 101\",\"category\":\"laws:leg_statute\",\"reporter\":\"U.S.C.\",\"weight\":3,\"pin_cites\":[{\"parenthetical\":\"defining
        \\\"literary works\\\" as \\\"works ... expressed in words, numbers, or other
        verbal or numerical symbols or indicia, regardless of the nature of the material
        objects, such as books, periodicals, phonorecords, film, tapes, disks, or
        cards, in which they are embodied\\\" (emphasis added)\"}],\"opinion_id\":0},{\"cite\":\"9
        F.3d 823\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[10513702],\"opinion_id\":0},{\"cite\":\"982[...]
