interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.case.law/v1/cases/4066790/
  response:
    body:
      string: "{\"id\":4066790,\"url\":\"https://api.case.law/v1/cases/4066790/\",\"name\":\"ORACLE
        AMERICA, INC., Plaintiff-Appellant, v. GOOGLE INC., Defendant-Cross-Appellant\",\"name_abbreviation\":\"Oracle
        America, Inc. v. Google Inc.\",\"decision_date\":\"2014-05-09\",\"docket_number\":\"Nos.
        2013-1021, 2013-1022\",\"first_page\":\"1339\",\"last_page\":\"1381\",\"citations\":[{\"type\":\"official\",\"cite\":\"750
        F.3d 1339\"}],\"volume\":{\"url\":\"https://api.case.law/v1/volumes/32044132273806/\",\"volume_number\":\"750\",\"barcode\":\"32044132273806\"},\"reporter\":{\"url\":\"https://api.case.law/v1/reporters/933/\",\"full_name\":\"Federal
        Reporter 3d Series\",\"id\":933},\"court\":{\"url\":\"https://api.case.law/v1/courts/fed-cir/\",\"name_abbreviation\":\"Fed.
        Cir.\",\"slug\":\"fed-cir\",\"id\":8955,\"name\":\"United States Court of
        Appeals for the Federal Circuit\"},\"jurisdiction\":{\"id\":39,\"name_long\":\"United
        States\",\"url\":\"https://api.case.law/v1/jurisdictions/us/\",\"slug\":\"us\",\"whitelisted\":false,\"name\":\"U.S.\"},\"cites_to\":[{\"cite\":\"2013
        U.S. Dist. LEXIS 8113\",\"category\":\"reporters:specialty_lexis\",\"reporter\":\"U.S.
        Dist. LEXIS\",\"year\":2013,\"pin_cites\":[{\"page\":\"*33\"}],\"opinion_id\":0},{\"cite\":\"2013
        WL 831528\",\"category\":\"reporters:specialty_west\",\"reporter\":\"WL\",\"year\":2013,\"opinion_id\":0},{\"cite\":\"439
        F.3d 1312\",\"category\":\"reporters:federal\",\"reporter\":\"F.3d\",\"case_ids\":[31308],\"pin_cites\":[{\"page\":\"1320\"}],\"opinion_id\":0},{\"cite\":\"283
        U.S. 494\",\"category\":\"reporters:federal\",\"reporter\":\"U.S.\",\"case_ids\":[434013],\"weight\":4,\"year\":1931,\"pin_cites\":[{\"page\":\"500\",\"parenthetical\":\"\\\"Where
        the practice permits a partial new trial, it may not properly be resorted
        to unless it clearly appears that the issue to be retried is so distinct and
        separable from the others that a trial of it alone may be had without injustice.\\\"\"},{\"parenthetical\":\"\\\"Where
        the practice permits a partial new trial, it may not properly be resorted
        to unless it clearly appears that the issue to be retried is so distinct and
        separable from the [...]
