interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/usc/
  response:
    body:
      string: '{"heading":"United States Code (USC)","start_date":"1926-06-30","node":"/us/usc","text_version":null,"url":"https://authorityspoke.com/api/v1/us/usc/","end_date":null,"children":["https://authorityspoke.com/api/v1/us/usc/t1/","https://authorityspoke.com/api/v1/us/usc/t2/","https://authorityspoke.com/api/v1/us/usc/t3/","https://authorityspoke.com/api/v1/us/usc/t4/","https://authorityspoke.com/api/v1/us/usc/t5/","https://authorityspoke.com/api/v1/us/usc/t6/","https://authorityspoke.com/api/v1/us/usc/t7/","https://authorityspoke.com/api/v1/us/usc/t8/","https://authorityspoke.com/api/v1/us/usc/t9/","https://authorityspoke.com/api/v1/us/usc/t10/","https://authorityspoke.com/[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/coverage/us/usc/
  response:
    body:
      string: '{"uri":"/us/usc","latest_heading":"United States Code (USC)","first_published":"1926-06-30","earliest_in_db":"2013-07-18","latest_in_db":"2021-01-05"}'
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
