interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /api/v1/test/acts/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/test/acts/
  response:
    body:
      string: '{"heading":"Acts of Australia","content":"","children":["https://authorityspoke.com/api/v1/test/acts/47/"],"end_date":null,"node":"/test/acts","start_date":"1935-04-01","url":"https://authorityspoke.com/api/v1/test/acts/","parent":"https://authorityspoke.com/api/v1/test/"}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
