interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://authorityspoke.com/api/v1/us/const/
  response:
    body:
      string: '{"heading":"United States Constitution","start_date":"1788-09-13","node":"/us/const","text_version":null,"url":"https://authorityspoke.com/api/v1/us/const/","end_date":null,"children":["https://authorityspoke.com/api/v1/us/const/amendment/","https://authorityspoke.com/api/v1/us/const/article/"],"citations":[],"parent":"https://authorityspoke.com/api/v1/us/"}'
    headers:
      Allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
