interactions:
- request:
    body: reporter=F.3d&volume=750&page=1339
    headers:
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/citation-lookup/
  response:
    body:
      string: "[{\"citation\":\"750 F.3d 1339\",\"normalized_citations\":[\"750 F.3d
        1339\"],\"start_index\":0,\"end_index\":13,\"status\":200,\"error_message\":\"\",\"clusters\":[{\"resource_uri\":\"https://www.courtlistener.com/api/rest/v4/clusters/2673149/\",\"id\":2673149,\"absolute_url\":\"/opinion/2673149/oracle-america-inc-v-google-inc/\",\"panel\":[],\"non_participating_judges\":[],\"docket_id\":260804,\"docket\":\"https://www.courtlistener.com/api/rest/v4/dockets/260804/\",\"sub_opinions\":[\"https://www.courtlistener.com/api/rest/v4/opinions/2673149/\"],\"citations\":[{\"volume\":750,\"reporter\":\"F.3d\",\"page\":\"1339\",\"type\":1},{\"volume\":110,\"reporter\":\"U.S.P.Q.
        2d (BNA)\",\"page\":\"1985\",\"type\":4},{\"volume\":2014,\"reporter\":\"WL\",\"page\":\"1855277\",\"type\":7},{\"volume\":2014,\"reporter\":\"U.S.
        App. LEXIS\",\"page\":\"8744\",\"type\":6}],\"date_created\":\"2015-12-02T08:49:17.791662-08:00\",\"date_modified\":\"2024-11-04T22:22:35.435828-08:00\",\"judges\":\"O\u2019Malley,
        Plager, Taranto\",\"date_filed\":\"2014-05-09\",\"date_filed_is_approximate\":false,\"slug\":\"oracle-america-inc-v-google-inc\",\"case_name_short\":\"\",\"case_name\":\"Oracle
        America, Inc. v. Google Inc.\",\"case_name_full\":\"ORACLE AMERICA, INC.,
        Plaintiff-Appellant, v. GOOGLE INC., Defendant-Cross-Appellant\",\"scdb_id\":\"\",\"scdb_decision_direction\":null,\"scdb_votes_majority\":null,\"scdb_votes_minority\":null,\"source\":\"CU\",\"procedural_history\":\"\",\"attorneys\":\"E.
        Joshua Rosenkranz, Orrick, Herring-ton & Sutcliffe LLP, of New York, New York,
        argued for plaintiff-appellant. With him on the brief were Mark S. Davies,
        Andrew D. Silverman, Kelly M. Daley; and Annette L. Hurst, Gabriel M. Ramsey,
        and Elizabeth C. McBride, of San Francisco, CA. Of counsel on the brief were
        Dorian E. Daley, Deborah K. Miller, Matthew Sarboraria, and Andrew C. Temkin,
        Oracle America, Inc., of Redwood Shores, CA; and Dale M. Cen[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.courtlistener.com/api/rest/v4/opinions/2673149/
  response:
    body:
      string: "{\"resource_uri\":\"https://www.courtlistener.com/api/rest/v4/opinions/2673149/\",\"id\":2673149,\"absolute_url\":\"/opinion/2673149/oracle-america-inc-v-google-inc/\",\"cluster_id\":2673149,\"cluster\":\"https://www.courtlistener.com/api/rest/v4/clusters/2673149/\",\"author_id\":null,\"author\":null,\"joined_by\":[],\"date_created\":\"2014-05-09T17:02:04.678169-07:00\",\"date_modified\":\"2023-08-31T00:18:49.278744-07:00\",\"author_str\":\"O'Malley\",\"per_curiam\":false,\"joined_by_str\":\"\",\"type\":\"010combined\",\"sha1\":\"8e22fb4f85e25289cc2c54de3a5a50c33a859535\",\"page_count\":69,\"download_url\":\"http://www.cafc.uscourts.gov/images/stories/opinions-orders/13-1021.Opinion.5-7-2014.1.PDF\",\"local_path\":\"pdf/2014/05/09/oracle_america_inc._v._google_inc..pdf\",\"plain_text\":\"
        \ United States Court of Appeals\\n      for the Federal Circuit\\n                 ______________________\\n\\n
        \             ORACLE AMERICA, INC.,\\n                 Plaintiff-Appellant,\\n\\n
        \                           v.\\n\\n                    GOOGLE INC.,\\n               Defendant-Cross-Appellant.\\n
        \               ______________________\\n\\n                    2013-1021,
        -1022\\n                 ______________________\\n\\n    Appeals from t[...]
